/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Generic */

.container {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu ul li {
    display: inline-block;
}

.section-container {
    display: flex;
    height: 700px;
    max-width: 1200px;
    margin: 30px auto;
}

.row {
    display: flex;
    height: 500px;
    max-width: 1200px;
}

/* Utilities */

.first-background {

    background-color: rgb(194, 8, 8);
}

.second-background {

    background-color: rgb(179, 235, 9);
}

/* Header */

header {
    background-color: aquamarine;
    height: 100px;
}

#navbar {
    height: 100px;
    width: 100%;

    background-color: #dc610f;
    position: fixed;
    z-index: 1;




}

#navbar>div {

    flex-basis: calc(100%/3);
}

li {
    display: flex;
}

.menu {
    display: flex;
}

.logo {
    text-align: center;
}

.azioni {
    text-align: right;
}

/* Main */

.colonna {
    flex-basis: calc(100%/3);
    height: 600px;
    background-color: #2bec04;
    border: 1px black dashed;
}

.row-small {
    height: 100px;
    width: 100%;
    background-color: #2bec04;
    border: 1px black dashed;
    margin: 4px;
}

.row-large {
    height: 500px;
    width: 100%;
    background-color: #2bec04;
    border: 1px black dashed;
    margin: 4px;
}


.cuore {
    font-size: 20px;
    color: red;
    background-color: white;
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 0;
}

/* Discount - Relative and pointer*/

.discount {
    color: white;
    font-weight: bold;
    padding: 2px 1px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 50px;

}

.sostenibilta {
    color: white;
    font-weight: bold;
    padding: 2px 1px;
    background-color: darkgreen;
    position: absolute;
    left: 0;
    bottom: 0;

}

/* hover */


.relative {
    position: relative;
    cursor: pointer;
}



.first-img {
    display: block;
}

.second-img {
    display: none;
}



.cambioimmagine:hover .first-img {
    display: none;
}

.cambioimmagine:hover .second-img {
    display: block;
}


/* Style */

h6 {
    margin-top: 2px;
}

/* Footer */

footer {
    height: 100px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    align-items: center;
}