/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Generic */

.container {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu ul li {
    display: inline-block;
}

.section-container {
    display: flex;
    height: 600px;
    max-width: 1200px;
    margin: 30px auto;
}

.row {
    display: flex;
    height: 500px;
    max-width: 1200px;
}

/* Utilities */


/* Header */

header {
    height: 70px;
}

#navbar {
    height: 100px;
    width: 100%;

    background-color: #dc610f;
    position: fixed;
    z-index: 1;

    box-shadow: 0 0 10px #666;


}

#navbar>div {

    flex-basis: calc(100%/3);
}

li {
    display: flex;
    color: white;
    font-size: 20px;
}

.menu {
    display: flex;
    vertical-align: middle;
}

.logo {
    text-align: center;
    vertical-align: middle;
}

.azioni {
    text-align: right;
    vertical-align: middle;
}

/* Main */

.colonna {
    flex-basis: calc(100%/3);
    height: 600px;

}

.small {
    height: 100px;
    width: 97%;
    margin: 4px;
}

.large {
    height: 500px;
    width: 97%;
    margin: 4px;
}


.cuore {
    font-size: 20px;
    color: red;
    background-color: white;
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 0;
}

/* Discount - Relative and pointer*/

.discount {
    color: white;
    font-weight: bold;
    padding: 2px 1px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 50px;

}

.sostenibilta {
    color: white;
    font-weight: bold;
    padding: 2px 1px;
    background-color: darkgreen;
    position: absolute;
    left: 0;
    bottom: 50px;

}

.sostenibilta-right {
    color: white;
    font-weight: bold;
    padding: 2px 1px;
    background-color: darkgreen;
    position: absolute;
    left: 50px;
    bottom: 50px;

}

/* hover */


.relative {
    position: relative;
    cursor: pointer;
}



.first-img {
    display: block;
}

.second-img {
    display: none;
}



.cambioimmagine:hover .first-img {
    display: none;
}

.cambioimmagine:hover .second-img {
    display: block;
}


/* Style */

h6 {
    margin-top: 2px;
}

h6 {
    font-size: small;
    font-style: initial;
}

h4 {
    color: red;
}

.strike {
    text-decoration: line-through;
    color: black;
    font-size: medium;
    font-style: italic;
}

/* Footer */

footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 80px;
}



.container-footer {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
}

.menu-footer ul li {
    display: inline-block;
    margin-right: 4px;
    font-size: 10px;

}